# Python
__pycache__/
*.py[cod]
*$py.class

# PyCharm
.idea/

# Virtual Environment
.venv/
venv/
env/

# Testing
.pytest_cache/
htmlcov/
stack_log.txt

# Settings
**/No settings file.txt
**/WingmanSettings.ini